<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
              <h3 class="h4 text-irembo font-weight-bold mb-4">Get Started</h3>
              <div class="mb-3">
                <small class="h1 heading-five">Please provide the following information to continue </small>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form role="form">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-building"></i></span>
                    </div>
                    <input class="form-control" placeholder="Business Name" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone-square"></i></span>
                    </div>
                    <input class="form-control" placeholder="Phone Number" type="text" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-fax"></i></span>
                    </div>
                    <input class="form-control" placeholder="TIN Number" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <br>
                <br>
                <div class="text-center">
                  <button type="button" class="btn btn-1 btn-primary" (click)="open(classic,'' , '')">Submit</button>
                  <ng-template #classic let-c="close" let-d="dismiss">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title" id="modal-title-default">Details Sent Succesfully</h6>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>your information has been sucessfully sent to IremboPay, we will contact you</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-1 btn-success" data-dismiss="modal" (click)="c('Close click')">Close</button>
                        </div>
                      </div>
                    </ng-template>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
