<section class="section pb-0 section-components">
  <div class="container mb-5">
    <h3 class="h4 text-irembo font-weight-bold mb-4">IREMBOPAY?</h3>
    <div class="mb-3">
      <small class="h1 heading-two">If you were struggling to find a reliable </small>
      <p><span class="heading-two">partner, </span><span class="heading-three">that's us!</span>
      </p>
      <br>
      <small class="heading-four"> Irembo Pay is a highly efficient payment platform that enables businesses of all sizes to streamline their payment processes and easily accept payments through various payment methods on their websites or applications. It provides a secure and user-friendly payment gateway that ensures seamless transactions and allows businesses to receive payments in a timely manner.
       <br>
       <br>
       <br>
        With IremboPay. businesses can choose from a range of payment methods, including mobile money, bank cards, and bank transfers, to cater to their customers' diverse payment preferences.</small>
    </div>
  </div>
  <div class="py-5 full-row-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <p><span class="heading-two font-weight-bold" >99</span><span class="heading-three font-weight-bold">%</span></p>
            <p class="heading-four">Uptime SLA</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <p><span class="heading-two font-weight-bold" >134</span><span class="heading-three font-weight-bold">+</span></p>
            <p class="heading-four">Integrations made</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <p><span class="heading-two font-weight-bold" >34</span><span class="heading-three font-weight-bold">M</span></p>
            <p class="heading-four">Transactions processed</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <p><span class="heading-two font-weight-bold" >$ 9</span><span class="heading-three font-weight-bold">M+</span></p>
            <p class="heading-four">Clients collected fees</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
