<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/IremboPay-Logo-blue.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <!-- <img src="./assets/img/brand/favicon.png"> -->
              <img src="./assets/img/brand/IremboPay-Logo-blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" role="button">
            <i class="fa fa-home d-lg-none"></i>
            <span class="nav-link-inner--text home-button" >Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-info-circle d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">About Us</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-question-circle d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Why Us</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-address-book-o d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons" >Our Clients</span>
          </a>
          <div class="dropdown-menu">
            <a  class="dropdown-item">RRA</a>
            <a  class="dropdown-item">RDB</a>
            <a  class="dropdown-item">RCA</a>
            <a  class="dropdown-item">RNP</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-money d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Pricing</span>
          </a>
          <div class="dropdown-menu">
            <a  class="dropdown-item">Services Only</a>
            <a  class="dropdown-item">Payments Only</a>
            <a  class="dropdown-item">Full Package</a>
            <a  class="dropdown-item">Payments + settlement</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-question-circle-o d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">FAQs</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-phone-square d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Contact Us</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a [routerLink]="['/get-started']" class="btn btn-1 btn-primary">
            <span class="nav-link-inner--text">Get Started</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
