<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/IremboPay-Logo-blue.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text home-button" >Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">About Us</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Why Us</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons" >Our Clients</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['documentation/tutorial']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">RRA</h6>
                  <p class="description d-none d-md-inline-block mb-0">something about RRA</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/colors']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">RDB</h6>
                  <p class="description d-none d-md-inline-block mb-0">Something ABout RDB</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/alerts']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Rwanda Police</h5>
                  <p class="description d-none d-md-inline-block mb-0">Something about Police</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Pricing</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Services Only</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Payments Only</a>
            <a [routerLink]="['/login']" class="dropdown-item">Full Package</a>
            <a [routerLink]="['/register']" class="dropdown-item">Payments + settlement</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">FAQs</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Contact Us</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a target="_blank" class="btn btn-neutral btn-icon">
            <span class="nav-link-inner--text">Get Started</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
