<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/IremboPay-Logo-blue.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <!-- <img src="./assets/img/brand/favicon.png"> -->
              <img src="./assets/img/brand/IremboPay-Logo-blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" role="button">
            <i class="fa fa-home d-lg-none"></i>
            <span class="nav-link-inner--text home-button" >Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-info-circle d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">About Us</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-question-circle d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Why Us</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-address-book-o d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons" >Our Clients</span>
          </a>
          <div class="dropdown-menu">
            <a  class="dropdown-item">RRA</a>
            <a  class="dropdown-item">RDB</a>
            <a  class="dropdown-item">RCA</a>
            <a  class="dropdown-item">RNP</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-money d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Pricing</span>
          </a>
          <div class="dropdown-menu">
            <a  class="dropdown-item">Services Only</a>
            <a  class="dropdown-item">Payments Only</a>
            <a  class="dropdown-item">Full Package</a>
            <a  class="dropdown-item">Payments + settlement</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-question-circle-o d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">FAQs</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="fa fa-phone-square d-lg-none"></i>
            <span class="nav-link-inner--text other-buttons">Contact Us</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <button (click)="open(classic2, 'modal_mini', 'sm')" class="btn btn-1 btn-primary">
            <span class="nav-link-inner--text">Get Started</span>
          </button>
          <ng-template #classic2 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-white pb-2">
                    <h3 class="h4 text-irembo font-weight-bold mb-4">Get Started
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </h3>
                    <div class="mb-3">
                      <small class="h1 heading-five">Please provide the following information to continue </small>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <form role="form">
                      <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                          </div>
                          <input class="form-control" placeholder="Business Name" type="text" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
                      <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div>
                          <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
                      <div class="form-group" [ngClass]="{'focused':focus1===true}">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone-square"></i></span>
                          </div>
                          <input class="form-control" placeholder="Phone Number" type="text" (focus)="focus1=true" (blur)="focus1=false">
                        </div>
                      </div>
                      <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-fax"></i></span>
                          </div>
                          <input class="form-control" placeholder="TIN Number" type="text" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="text-center">
                        <button type="button" class="btn btn-1 btn-primary" (click)="open(classic,'' , '')">Submit</button>
                        <ng-template #classic let-c="close" let-d="dismiss">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h6 class="modal-title" id="modal-title-default">Details Sent Succesfully</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>your information has been sucessfully sent to IremboPay, we will contact you</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-1 btn-success" data-dismiss="modal" (click)="c('Close click')">Close</button>
                              </div>
                            </div>
                          </ng-template>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
