<app-inputs-section></app-inputs-section>
<section class="section section-shaped">
  <div class="container mb-5">
    <br>
    <br>
    <br>
    <br>
    <h3 class="h4 text-irembo font-weight-bold mb-4">WHAT'S SPECIAL?</h3>
    <div class="mb-3">
      <small class="h1 heading-two">Discover our unique qualities and stand out </small>
      <p><span class="heading-three">from the crowd</span><span class="heading-two">.</span>
      </p>
    </div>
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 mb-lg-auto">
        <div class="rounded overflow-hidden transform-perspective bootstrap-slider">
          <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/brand/What's-Special-Image.png" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/brand/What's-Special-Image.png" alt="Second slide">
              </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h1 class="text-black font-weight-bold">
          <img src="./assets/img/brand/Graph.png" class="graph-logo">
          USSD-RSSB</h1>
        <p class="lead heading-four mt-4">IremboPay allows businesses to offer their customers a quick and easy way to make payments using a basic mobile phone, particularly in areas where internet connectivity is limited.</p>
        <h1 class="text-black font-weight-bold">
          <img src="./assets/img/brand/Graph.png" class="graph-logo">
          Boarder Payment Channels</h1>
        <p class="lead heading-four mt-4">customers the option to choose from various payment methods such as mobile money, bank cards, and bank transfers, businesses can cater to the diverse payment preferences of their customers.</p>
        <h1 class="text-black font-weight-bold">
          <img src="./assets/img/brand/Graph.png" class="graph-logo">
          Fast Checkout</h1>
        <p class="lead heading-four mt-4">A fast checkout process can also increase the overall efficiency of payment processing, which can help to reduce operational costs and improve cash flow management.
        </p>
      </div>
    </div>
  </div>
  <div class="py-5 full-row-blue">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <img src="./assets/img/brand/RRA.png" class="brand-logo">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <img src="./assets/img/brand/RDB.png" class="brand-logo">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <img src="./assets/img/brand/GOV.png" class="brand-logo">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="form-group">
            <img src="./assets/img/brand/RRA.png" class="brand-logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-nucleo-section></app-nucleo-section>
<section class="section section-lg section-shaped full-section-block">
  <div class="container py-md">
    <h3 class="h4 text-irembo font-weight-bold mb-4">FAQs</h3>
    <div class="mb-3">
      <small class="h1 heading-two">Handling your concerns with our </small><span class="heading-three">powerful set</span>
      <p><span class="heading-two">of support documents.</span>
      </p>
      <br>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <hr class="line-br">
        <h1 class="mt-4">
          <img src="./assets/img/brand/Vector-+.png" class="vector-logo"><span class="heading-six">question 1?</span>
          </h1>
        <hr class="line-br">
        <h1 class="mt-4">
          <img src="./assets/img/brand/Vector-+.png" class="vector-logo"><span class="heading-six">question 2?</span>
          </h1>
        <hr class="line-br">
        <h1 class="mt-4">
          <img src="./assets/img/brand/Vector-+.png" class="vector-logo"><span class="heading-six">question 3?</span>
          </h1>
        <hr class="line-br">
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <hr class="line-br">
        <h1 class="mt-4">
          <img src="./assets/img/brand/Vector-+.png" class="vector-logo"><span class="heading-six">question 4?</span>
          </h1>
        <hr class="line-br">
        <h1 class="mt-4">
          <img src="./assets/img/brand/Vector-+.png" class="vector-logo"><span class="heading-six">question 5?</span>
          </h1>
        <hr class="line-br">
        <h1 class="mt-4">
          <img src="./assets/img/brand/Vector-+.png" class="vector-logo"><span class="heading-six">question 6?</span>
          </h1>
        <hr class="line-br">
      </div>
    </div>
    <h3 class="h4 text-irembo font-weight-bold mb-4">See All
      <img src="./assets/img/brand/Vector.png" class="vector-logo">
    </h3>
  </div>
</section>
