.footer {
    background: #0063CF;
    position: relative;
    padding: 3rem 0;

    .col-footer {
        .heading {
            color: $footer-heading-color;
            letter-spacing: 0;
            font-size: $footer-heading-font-size;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            margin-bottom: 1rem;
        }
    }

    .nav .nav-item .nav-link,
    .footer-link {
        color: white !important;

        &:hover {
            color: white !important;
        }
    }

    .list-unstyled li a {
        display: inline-block;
        padding: .125rem 0;
        color: $footer-link-color;
        font-size: $footer-link-font-size;

        &:hover {
            color: $footer-link-hover-color;
        }
    }

    .copyright {
        color: white;
        text-align: center;
        font-size: $font-size-sm;
    }
}
.footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 143px;
    padding-bottom: 70%;
  }

.footer-dark {
    .col-footer .heading {
        color: $white;
    }
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 10%;
    line-height: 25px;
    position: relative;
  }

  .footer-widget {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: transparent;
  }
  .footer-widget ul li a:hover{
    color: white;
  }
  .footer-widget ul li a {
    color: white;
  }
  

.footer.has-cards {
    overflow: hidden;
    padding-top: 500px;
    margin-top: -420px;
    position: relative;
    background: transparent;
    pointer-events: none;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 600px;
        height: 2000px;
        background: theme-color("secondary");
        transform: skew(0,-8deg);
    }

    .container {
        background-color: #0063CF;
        pointer-events: auto;
        position: relative;
    }
}

.nav-footer {
    .nav-link {
        font-size: $font-size-sm;
    }

    .nav-item:last-child {
        .nav-link {
            padding-right: 0;
        }
    }
}

.footer-container{
    padding-left: 5%;
}

.footer-social-icon {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon img {
    height: 18px;
    width: 15px;
    text-align: center;
    line-height: 38px;
  }
  