.lead-center {
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    font-weight: 400;
    color: #5C6685;
  }
  
  .lead-align{
    font-weight: 600;
    font-size: 300%;
    line-height: 80px;
    text-align: center;
    color: #000000;
  }

  .arrow-image{
    width: 8%;
    padding-bottom: 7%;
  }
  
  .center-image{
    width: 45%;
    padding-bottom: 4.5%;
  }
  
  .center-lead-align{
    width: 100%;
  }
  
  .oval-blue::after {
    position: absolute;
    content: '';
    bottom: 0;
    z-index: -1;
    top: 5%;
    left: -16%;
    right: -16%;
    border-radius: 60%;
    background: linear-gradient(180deg, #0063CF 59.09%, rgba(0, 99, 207, 0.58) 73.64%, rgba(0, 99, 207, 0) 40.79%);
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.9;
  }

  .oval-rectangle{
    background: #0063CF;
    background-size: cover;
    top: 50px;
    min-height: 5%;
  }

  .background-image-rectangle{
    width: 100%;
    height: 40%;
    background-size: cover;
  }

  .hover-div:hover {
    bottom: 0;
    z-index: -1;
    top: 5%;
    left: -16%;
    right: -16%;
    position: absolute;
    background: #0063CF;
    background-size: cover;
  }

  
  .background-image{
    width: 100%;
    height: 40%;
    background-size: cover;
    mix-blend-mode: multiply;
  
  }
  
  .arrow-button{
    width: 17px;
    height: 13px;
    left: 672px;
    top: 789px;
  
    background: #FFFFFF;
    border-radius: 1px;
    transform: rotate(180deg);
  }
  


  .scrollable{
    overflow: auto;
    max-height: 200px;
    text-align: center;
    mix-blend-mode: multiply;
    width: 100%;
    height: 40%;
    left: 176px;
    top: 351px;
    background-size: cover;
  }
  
  
  .demo a {
    position: absolute;
    top: 20%;
    left: 45%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: white;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }
  
  
  
  
  #section05 a {
    padding-top: 70px;
  }
  #section05 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  
  
  
  //
  // Misc
  //
  
  // Builds on `abbr`
  .initialism {
    font-size: 90%;
    text-transform: uppercase;
  }
  
  // Blockquotes
  .blockquote {
    margin-bottom: $spacer;
    font-size: $blockquote-font-size;
  }
  
  .blockquote-footer {
    display: block;
    font-size: 80%; // back to default font-size
    color: $blockquote-small-color;
  
    &::before {
      content: "\2014 \00A0"; // em dash, nbsp
    }
  }

//
// Horizontal rules
//

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: solid rgba(255, 255, 255, 0.3);
  }

.text-irembo{
  color: #0063CF;
  font-weight: 700;
  font-size: 14px;
}

.heading-two{
  font-weight: 700;
  font-size: 34px;
  color: black;
}

.heading-three{
  font-weight: 700;
  font-size: 34px;
  color: #0063CF;
}

.heading-four{
  font-weight: 400;
  font-size: 16px;
  color:#5C6685
}

.full-row-block{
  text-align: center;
  width: 100%;
  background: rgba(0, 99, 207, 0.1);
}

.graph-logo{
  background: rgba(0, 99, 207, 0.1);
  border-radius: 9px;
  width: 46px;
  height: 46px;
  vertical-align: baseline;
}

.full-row-blue{
  text-align: center;
  width: 100%;
  background: #0063CF;
}

.brand-logo{
  width: 278.25px;
  height: 73.8px;
}

.heading-five{
  font-weight: 400;
  font-size: 16px;
  color:black;
}
  
.full-section-block{
  background: rgba(0, 99, 207, 0.1);
}

.line-br{
  background: rgba(19, 16, 16, 0.1);
  border-radius: 10px;
}

.vector-logo{
  height: 16px;
  width: 16px;
}

.heading-six{
  font-weight: 400;
  font-size: 16px;
  color:black;
  padding-left: 30px;
}
