<footer class="footer" >
  <div class="footer-container pt-5 pb-5">
    <div class="row" >
      <div class="col-xl-2 col-lg-2 mb-10 footer-logo">
        <a target="_blank">
          <img src="./assets/img/brand/Footer-logo-combined.png">
        </a>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
        <div class="footer-widget">
            <div class="footer-widget-heading">
                <h3>Explore</h3>
            </div>
            
                <a href="#">Home</a><br>
                <a href="#">About Us</a><br>
                <a href="#">Why Us</a><br>
                <a href="#">Our Clients</a><br>
                <a href="#">Pricing</a><br>
            
        </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
          <div class="footer-widget">
              <div class="footer-widget-heading">
                  <h3>Information</h3>
              </div>
              
                  <a href="#">FAQ's</a><br>
                  <a href="#">Terms and Conditions</a><br>
                  <a href="#">Privacy Policy</a><br>
              
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
          <div class="footer-widget">
              <div class="footer-widget-heading">
                  <h3>For Developers</h3>
              </div>
              
                  <a href="#">API Documentation</a><br>
                  <a href="#">API Status</a><br>
              
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
          <div class="footer-widget">
              <div class="footer-widget-heading">
                  <h3>Contact Us</h3>
              </div>
              
                  <a href="#">Location: KG 123 AVE</a><br>
                  <a href="#">Email: info@irembopay.com</a><br>
                  <a href="#">Phone: 123-256-7890</a><br>
              
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
          <div class="footer-widget">
              <div class="footer-widget-heading">
                  <h3>Socials</h3>
              </div>
              <div class="footer-social-icon">
                <a href="#"><img src="./assets/img/brand/bxl-facebook.png"></a>
                <a href="#"><img src="./assets/img/brand/instagram-logoIG.png"></a>
                <a href="#"><img src="./assets/img/brand/bxl-twitter.png"></a>
                <a href="#"><img src="./assets/img/brand/youtube-logo.png"></a>
              </div>
          </div>
        </div>
    </div>
    <hr>
<!--    <div class="align-items-center">-->
<!--        <div class="copyright align-items-center">-->
<!--          <a target="_blank">&copy; {{test | date: 'yyyy'}} Irembo Pay | All Rights Reserved</a>-->
<!--        </div>-->
<!--    </div>-->
  </div>
</footer>
